<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwand.pinhaowanr">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--location-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Actionbar_Animation">

        <!--<activity-->
        <!--android:name=".SplashActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.NoTitleBar">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->

        <!--</activity>-->

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${Umeng}" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5653cc9667e58ee412002400"></meta-data>

        <!-- 高德定位sdk配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AmapKey}" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Actionbar_Animation"></activity>

        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Normal"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".fine.FineCategoryListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Actionbar_Animation">

        </activity>

        <activity
            android:name=".fine.FineDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <!-- 地区选择界面 -->
        <activity
            android:name=".location.LocationChooseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">

        </activity>

        <!-- 预约界面 -->
        <activity
            android:name=".fine.ReservationActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- 超级妈咪列表页面 -->
        <activity
            android:name=".community.SuperMomActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".community.ActivityDetailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".community.SpellDListActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".location.CityChooseActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".location.RegionChooseActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".mine.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Actionbar_Animation"></activity>

        <activity
            android:name=".mine.MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Actionbar_Animation"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".community.ActivityDetailDiscussActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/Actionbar_Animation"></activity>

        <activity android:name=".community.SpellDClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Actionbar_Animation"></activity>

        <activity android:name=".community.LaunchSpellDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Actionbar_Animation"></activity>


    </application>


</manifest>
